@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@500&display=swap');


.blocks {
    width:27vw;
    color: black;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}
.blocks .year p{
    font-size: 4.5vw;
    text-align: left;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 0.2vh;
    -webkit-text-stroke-color: aqua;
}
.blocks img{
    object-fit: fill;
    width: 27vw;
    height: 45vh;
}

.blocks .content{
    background-color: #ffb15f ;
    padding: 1vh 1.5vh 3vh 1.5vh;
    /* min-height: 5vh; */
    max-height: 12.2vh;
    overflow-y: scroll;
}
.blocks .content::-webkit-scrollbar {
    width: 0.5vw;
    border-radius: 0.2vw;
}

.blocks:nth-child(2n) .content{
    background-color: #249ea0;
}
.blocks:nth-child(2n) .content::-webkit-scrollbar-thumb{
     background-color: #155657;
}
.blocks:nth-child(2n+1) .content{
    background-color: #ffb15f;
}
.blocks:nth-child(2n+1) .content::-webkit-scrollbar-thumb{
     background-color: #f4830b;
}


.blocks .content h2{
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-size: 1.4vw;
    font-family: 'Work Sans', sans-serif;
}
.blocks .content h4 {
    font-size: 1.2vw;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 1vh;
}
.blocks .content p{
    word-wrap: break-all;
    min-height: 2vh;
    margin: 0.3vh 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 1vw;
    padding-right: 1vw;
}


@media (orientation:portrait){
    .blocks {
            width: 80vw;
            color: black;
            text-align: center;
            overflow: hidden;
            box-sizing: border-box;
            margin: 2vw;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-height: 100vh;
        }
        .blocks .year p {
            font-size: 6.5vh;
            text-align: left;
            -webkit-text-fill-color: black;
            -webkit-text-stroke-width: 0.2vh;
            -webkit-text-stroke-color: aqua;
        }

        .blocks img {
            object-fit: contain;
            max-width: 80vw;
            max-height: 80vh;
        }

        .blocks .content {
            background-color: cadetblue;
        }

        .blocks .content h2 {
            margin-top: 2vh;
            font-size: 2.8vh;
            font-family: 'Work Sans', sans-serif;
        }
        .blocks .content h4 {
            font-size: 2.5vh;
            font-family: 'Work Sans', sans-serif;
        }

        .blocks .content p {
            word-wrap: break-all;
            min-height: 2vh;
            margin: 1vh 1.2vh 3vh 1.2vh;
            font-family: 'Montserrat', sans-serif;
        }

        /* .blocks .content .info {
            border-radius: 1vh;
            width: 20vh;
            height: 5vh;
            margin-bottom: 2vh;
        } */
}