.piece {
    width:25%;
    /* max-height: 60vh; */
    /* height: 30%; */
    color: black;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.piece img{
    object-fit: cover;
}

.piece .content{
    background-color: cadetblue;
}
.content .h2{
    margin-top: 2em;
}
