
.bgimg {
	text-align: center;
	overflow: hidden;
}

.bgimg img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.bgimg .head {
	position: absolute;
	top: 45%;
	left: 25%;
	color: white;
	font-family: "Oswald", sans-serif;
	font-size: 9vw;
}

.darkenimage {
	height: 115%;
	width: 100%;
	position: absolute;
	background-color: black;
	opacity: 40%;
	margin-top: -115vh;
}
.sec2{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	/* margin: 2rem; */
	justify-content: center;
}