/* Main image font */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Second Section (welcome to VR) font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.home {
}

/* Background images are added through inline css */

.backdiv {
	text-align: center;
	overflow: hidden;
}

.backdiv img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

.backdiv .title {
	position: absolute;
	top: 40%;
	left: 30%;
	color: white;
	font-family: "Oswald", sans-serif;
	font-size: 9vw;
}

.darkenimage {
	height: 115%;
	width: 100%;
	position: absolute;
	background-color: black;
	opacity: 40%;
	margin-top: -115vh;
}

.backdiv .scrolldown {
	position: absolute;
	bottom: 4vh;
	height: 12vh;
	width: 14.5vh;
	left: 47%;
	cursor: pointer;
	/* background-color: rgb(0, 0, 0); */
}

.backdiv .scrolldown .common {
	position: absolute;
	height: 5%;
	width: 68%;
	margin-left: -58%;
	margin-top: 25%;
	background-color: white;
}

.scrolldown .line1 {
	transform: rotate(45deg);
}
.scrolldown .line2 {
	transform: rotate(45deg);
	top: 35%;
}
.scrolldown .line3 {
	transform: rotate(-45deg);
	left: 96.5%;
}
.scrolldown .line4 {
	transform: rotate(-45deg);
	left: 96.5%;
	top: 35%;
}

.section2 {
	background-color: black;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	row-gap: 6vh;
	text-align: center;
	padding: 7rem 0 0 0;
	font-family: "Lato", sans-serif;
}

.section2 .text1 {
	font-size: 2.3rem;
	font-weight: 900;
}
.section2 .text2 {
	padding: 0 18% 0 18%;
	font-weight: 400;
	line-height: 1.8rem;
	font-size: 1.25rem;
	letter-spacing: 1%;
}

.section2 .text2 .boldtext {
	display: block;
	font-weight: 800;
	font-size: 1.5rem;
	margin-bottom: 1%;
}

.boxes {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 5%;
	flex-wrap: wrap;
}

.boxes img {
	height: 5rem;
}

.boxes .box {
	width: 17vw;
	/* height: 60vh; */
	min-width: 15rem;
	/* max-height: 26.5rem; */
	padding: 1.5rem;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.2rem;
	border-radius: 15% / 10%;
	margin-bottom: 6vh;
}

.box:nth-child(1) {
	background-color: #e87130;
}
.box:nth-child(2) {
	background-color: #f78104;
}
.box:nth-child(3) {
	background-color: #f49100;
}

.boxes .box .flextitle {
	font-weight: 800;
	font-size: 1.5rem;
}

.boxes .box .flexcontent {
	font-size: 1.2rem;
	font-weight: 100;
}

/* About Us Section */
.aboutus {
	width: 100%;
	display: flex;
}

.aboutus .container {
	background-color: #e87130;
	height: 100vh;
	width: 50%;
	text-align: center;
	font-family: "Lato", sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutus .container2 {
	background-color: #e87130;
	height: 100vh;
	width: 50%;
	text-align: center;
	font-family: "Lato", sans-serif;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutus .text1 {
	display: block;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 5rem;
}

.aboutus .text2 {
	display: block;
	font-weight: 400;
	line-height: 1.8rem;
	font-size: 1.3rem;
	padding: 0 9%;
	margin-bottom: 3rem;
}

.aboutus button {
	padding: 0.55rem 2rem;
	width: 25%;
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 110%;
	background-image: linear-gradient(to right, #008083, #249ea0);
	border: 0;
	cursor: pointer;
}

.aboutus .bgimg {
	position: absolute;
	width: 50%;
	height: 100%;
	right: 0;
	background-size: 60%;
	background-position: 101% 70%;
	background-attachment: fixed;
}

/* AboutVJTI section */
.aboutvjti {
	display: flex;
	flex-direction: row-reverse;
}

.aboutvjti .bgimg {
	background-size: 65%;
	background-position: -40% 100%;
	left: 0;
}

.aboutvjti .container2 {
	background-color: #f49100;
}

/* Our Achievements section */
.achievements .container {
	background-color: #249ea0;
}

/* Our Activities section */

.activities .container2 {
	background-color: #008083;
}

.achievements button,
.activities button {
	background-image: linear-gradient(to right, #fd5901, #faab36);
}

.activities .bgimg {
	background-size: 75%;
	background-position: 0% 70%;
}

.responsive {
	display: none;
}

/* Footer */
.footer {
	width: 100%;
	/* height: 100vh; */
	background-color: #005f60;
	display: flex;
	flex-direction: column;
}

.footer .text1 {
	text-align: center;
	font-family: "Lato", sans-serif;
	color: white;
	display: block;
	font-size: 300%;
	font-weight: 900;
	margin-top: 5rem;
	margin-bottom: 4vh;
}

.footer .footercontent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* column-gap: 5vw; */
	margin-bottom: 8vh;
}

.footer .container {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	font-family: "Lato", sans-serif;
	color: white;
	text-align: center;
	margin-bottom: 2vh;
	margin-top: 6vh;
}

.footer .container h2 {
	font-weight: 800;
	font-size: 200%;
}
.footer .container h3 {
	font-weight: 600;
	font-size: 175%;
}
.footer .container h5 {
	font-weight: 300;
}
.footer .container span {
	font-weight: 300;
	font-size: 125%;
}

.footer .contacts {
	width: 25rem;
}

.footer .contacts tr {
	height: 3rem;
}

.footer .socialicons {
	display: flex;
	flex-direction: row;
	column-gap: 1.5rem;
	justify-content: center;
}

/* Responsive CSS */
@media (orientation: portrait) {
	.backdiv .title {
		font-size: 15vw;
		top: 43%;
		left: 18%;
	}

	.backdiv .scrolldown {
		height: 23vw;
		width: 23vw;
		left: 40%;
	}

	.aboutus {
		display: none;
	}

	.responsive {
		display: block;
	}

	.responsive .bgimg {
		background-size: cover;
		/* height: 45vh; */
		padding: 15% 0;
		background-attachment: fixed;
		background-position: center;
	}

	.responsive .container {
		width: 60vw;
		margin: 0 auto;
		border-radius: 5%;
		padding: 1.8rem;
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1.2rem;

		font-family: "Lato", sans-serif;
		color: white;
		text-align: center;
	}

	.responsive .one {
		background-color: #e87030d7;
	}
	.responsive .two {
		background-color: #f49100d7;
	}
	.responsive .three {
		background-color: #249ea0d7;
	}
	.responsive .four {
		background-color: #008083d7;
	}

	.responsive .container h2 {
		font-weight: 800;
		font-size: 1.6rem;
	}
	.responsive .container span {
		font-weight: 100;
		font-size: 1.1rem;
	}

	.responsive .container .button1 {
		padding: 0.6rem 2rem;
		width: 60%;
		font-family: "Lato", sans-serif;
		color: white;
		font-size: 100%;
		background-image: linear-gradient(to right, #008083, #249ea0);
		border: 0;
		cursor: pointer;
	}

	.responsive .container .button2 {
		background-image: linear-gradient(to right, #fd5901, #faab36);
	}

	.whiteline {
		width: 100vw;
		height: 0.5vh;
		background-color: #c2bebe;
	}
}
