.backgnd {
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

/* .backgnd img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
} */

.backgnd .head {
    position: fixed;
    top: 18%;
    left: 24%;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 22vw;
    text-shadow: 0.5rem 0.45rem 0.825rem rgba(0, 0, 0, 1);
    letter-spacing: 0.5vw;
    z-index: 1;
}

.darkenimage {
    height: 115%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 40%;
    margin-top: -115vh;
}

.mediaimg {
    /* margin-top: 100vh; */
    display: flex;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100vh;
    padding-bottom: 10vh;
    /* z-index: 10; */
}
.mediaimg img {
    height: 35vh;
    width: 20vw;
    margin: 2vw;
    object-fit: fill;
    border: 10px white solid;
    -webkit-box-shadow: 0px 0px 26px 2px rgb(0, 0, 0);
    z-index: 10;
}
.foot {
    z-index: 10;
}
