@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.nav {
	position: fixed;
	margin-top: -1.5%;
	width: 100%;
	display: grid;
	grid-template-columns: 5% 1fr 4fr 5%;
	z-index: 999;
}

.linklogo {
	grid-column: 2/3;
}
.logo {
	height: 23vh;
}

.navlinks {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* column-gap: 2vw; */
	justify-content: space-around;
}

.navlinks li {
	list-style: none;
}

.linktext {
	text-decoration: none;
	color: white;
	font-family: "Roboto", sans-serif;
	/* letter-spacing: 0.03rem; */
	font-size: 1.2rem;
	font-weight: 400;
}
