/* Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap");

.sponsorbg {
	height: 100vh;
}

.sponsorbg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sponsorbg span {
	position: absolute;
	top: 43%;
	left: 25%;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 7vw;
}

.formsection {
	background-color: black;
	background-size: cover;
	padding: 10vh 0;
}

.formsection .booklet {
	text-align: center;
	width: 50vw;
	margin: 0 auto;
	padding: 5vh 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4%/15%;
}

.formsection .booklet span {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.4vw;
	color: #fff;
}

.formsection .booklet .download {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 10vw;
}

.formsection .booklet .download button {
	margin-top: 4vh;
	padding: 2vh 0;
	width: 33%;
	/* min-width: 10vh; */
	border: none;
	border-radius: 0.7vw;
	color: #fff;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 1.1vw;
	cursor: pointer;
}

.formsection .booklet .download button:nth-child(1) {
	background-image: linear-gradient(to right, rgb(255, 222, 89), rgb(255, 145, 77));
}

.formsection .booklet .download button:nth-child(2) {
	background-image: linear-gradient(to right, #ff3131, #ff914d);
}

.formsection .formdiv {
	width: 60vw;
	background-color: rgba(0, 94, 96, 0.6);
	padding: 5vh 0;
	border-radius: 3%/4%;
	margin: 7vh auto;
	color: #fff;
}

.formsection .formdiv span {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.3vw;
	display: block;
	margin-bottom: 8vh;
}

.formsection .formdiv form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 5vw;
	align-content: center;
}

.formsection .formdiv label {
	font-family: "Lato", sans-serif;
	font-size: 110%;
	margin-left: 1vw;
}

.formsection .formdiv input {
	margin-bottom: 5vh;
	width: 40vw;
	border: none;
	border-radius: 4%/60%;
	background-color: rgba(73, 136, 141, 0.3);
	color: #fff;
	font-family: "", sans-serif;
	font-weight: 700;
	font-size: 1.1vw;
	padding: 2vh 1vw;
	outline: none;
}

.formsection .formdiv .submit {
	cursor: pointer;
	width: 20vw;
	height: 7vh;
	border: none;
	border-radius: 6%/50%;
	background-color: rgba(73, 136, 141);
	color: #fff;
}
